@model IEnumerable<BreakfastClub.Models.Booth>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "List";
}

<h1>Our Booths with Seaths</h1>

@if (SignInManager.IsSignedIn(User))
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="food-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BoothNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isAvailable)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BoothNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Assign" asp-route-id="@item.Id">Assign to Reservation</a>

                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <h1>Sorry, you cannot access this page, please <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h1>
}